body {
    text-wrap: wrap;
    padding: 10px;
    padding-bottom: 200px;
    margin: 0;
    color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

h2 {
    text-align: left;
    font-size: 22pt;
}

h3 {
    text-align: left;
    font-size: 20pt;
}

h4 {
    font-size: 18pt;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    color: red;
}

h5 {
    font-size: 16pt;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

h6 {
    font-size: 14pt;
    text-align: left;
    text-decoration: underline;
    color: brown;
}

p {
    font-size: 12pt;
}

.quote {
    padding-left: 20px;

}

.yo {
    color: red;
    font-size: 36px;
}

.indent {
    padding-left: 10px;
    font-weight: bold;
    color: blue
}

.doubleindent {
    padding-left: 20px;
    font-weight: bold;
    color: red;
}

.tripleindent {
    padding-left: 30px;
    font-weight: bold;
    color: rgb(0, 226, 83);
}

a:link {
    color: #3074be;
}

a:visited {
    color: #104175;
}

a:hover {
    color: #c9556a;
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}